
.intro{
  background: paleturquoise;
  color: palevioletred;
  @include fontSize(20);
  padding-top: 4%;
  padding-bottom: 3%;
  min-height: 100vh;

  h1{
    font-family: $fontStackPac;
    @include fontSize(60);
    text-shadow: 3px 3px whitesmoke;
    text-align: center;
    // margin-bottom: 2%;
  }

  h2{
    font-family: $fontStackPac;
    @include fontSize(30);
    padding-bottom: 20px;
    text-decoration: 2px solid underline;
  }

  p{
    font-family: $fontStackSans;
    color:black;
    @include fontSize(20);
    // text-align: justify;
  }

  .double{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }

  .half{
    min-width: 400px;
    width: 40vw;
    height: auto;
    min-height: 60vh;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5%;
    background-color: white;
    border: 5px solid palevioletred;
    box-shadow: 0px 0px 11px 7px rgba(220,253,255,0.49);
  }

  .half:first-of-type{
    overflow: hidden;
    width: 35vw;
  }

  .half:last-of-type{
    padding: 40px;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a{
    font-family: $fontStackPac;
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: royalblue;
    width: 200px;
    border: 2px solid royalblue;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 4px 4px peachpuff;
    
  }

}
