// COLORS 

$primaryColor: paleVioletRed;
$backgroundA: paleTurquoise;
$backgroundB: peachPuff;
$primaryAccent: royalBlue;
$secondaryAccent: slateGrey;
$black: black;
$white: white;


// FONTS

$fontStackPac: 'Pacifico', cursive;
$fontStackSans: 'Open Sans', sans-serif;


// MIXIN 

@mixin fontSize($fontValue){
  font-size: $fontValue * 1px;
  font-size: ($fontValue/10) * 1rem;
}