html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.intro {
  background: paleTurquoise;
  color: paleVioletRed;
  font-size: 20px;
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 3%;
  min-height: 100vh;
}

.intro h1 {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  font-size: 6rem;
  text-shadow: 3px 3px white;
  text-align: center;
}

.intro h2 {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-size: 3rem;
  padding-bottom: 20px;
}

.intro p {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: justify;
}

.intro .double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro .half {
  min-width: 400px;
  width: 40vw;
  height: auto;
  min-height: 55vh;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 5%;
  background-color: #fafbfe;
  border: 5px solid paleVioletRed;
  -webkit-box-shadow: 0px 0px 11px 7px #c4f2f2;
          box-shadow: 0px 0px 11px 7px #c4f2f2;
}

.intro .half:first-of-type {
  overflow: hidden;
  width: 35vw;
}

.intro .half:last-of-type {
  padding: 40px;
}

.intro img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro a {
  font-family: "Pacifico", cursive;
  display: block;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: royalBlue;
  width: 200px;
  border: 2px solid royalBlue;
  border-radius: 10px;
  margin: 0 auto;
  -webkit-box-shadow: 4px 4px peachPuff;
          box-shadow: 4px 4px peachPuff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro a:hover, .intro a:focus {
  background-color: paleVioletRed;
  border: 2px solid paleVioletRed;
}

.intro a:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 4px 2px peachPuff;
          box-shadow: 4px 2px peachPuff;
}

.game {
  background: peachPuff;
  height: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game .holder {
  padding: 5% 0;
  padding-bottom: 0%;
  display: -ms-grid;
  display: grid;
}

.game .pan, .game .lasagna {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.game .pan {
  min-width: 60vh;
  width: 47%;
  padding-bottom: 47%;
  position: relative;
  background-color: slateGrey;
  border: 10px solid #5a6773;
  -webkit-box-shadow: 0px 0px 11px 7px #ffd2aa;
          box-shadow: 0px 0px 11px 7px #ffd2aa;
  border-radius: 10px;
  margin: 0 auto;
}

.game .lasagna {
  min-width: 58vh;
  width: 45.2%;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

.game .gameInfo {
  padding: 2%;
  text-align: center;
  margin: 0 auto;
}

.game .time {
  padding: 0 20px;
}

.game button {
  font-family: "Pacifico", cursive;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: royalBlue;
  width: 200px;
  border: 5px solid royalBlue;
  border-radius: 10px;
  margin: 0 auto;
  -webkit-box-shadow: 4px 4px paleVioletRed;
          box-shadow: 4px 4px paleVioletRed;
  font-size: 20px;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.game button:hover, .game button:focus {
  color: white;
  background-color: paleVioletRed;
  border: 5px solid paleVioletRed;
  -webkit-box-shadow: 4px 4px royalBlue;
          box-shadow: 4px 4px royalBlue;
  cursor: pointer;
}

.game button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 4px 2px primaryAccent;
          box-shadow: 4px 2px primaryAccent;
}

.game p {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  color: royalBlue;
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  background-color: white;
  border: 5px solid paleVioletRed;
  border-radius: 10px;
}

.game .pie img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  -ms-touch-action: none;
      touch-action: none;
}

.swal-modal {
  border: 5px solid royalBlue;
  font-family: "Open Sans", sans-serif;
  border-radius: 5%;
}

.swal-button {
  font-family: "Pacifico", cursive;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: royalBlue;
  width: 200px;
  border: 5px solid royalBlue;
  border-radius: 10px;
  margin: 0 auto;
  -webkit-box-shadow: 4px 4px paleVioletRed;
          box-shadow: 4px 4px paleVioletRed;
  font-size: 20px;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.swal-button:focus {
  -webkit-box-shadow: 4px 4px peachPuff;
          box-shadow: 4px 4px peachPuff;
  color: white;
  background-color: royalBlue;
}

.swal-button:hover {
  color: white;
  -webkit-box-shadow: 4px 4px peachPuff;
          box-shadow: 4px 4px peachPuff;
}

.swal-button:not([disabled]):hover {
  background-color: paleVioletRed;
  border: 5px solid paleVioletRed;
}

.swal-button:active {
  color: white;
  background-color: paleVioletRed;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 4px 2px peachPuff;
          box-shadow: 4px 2px peachPuff;
}

.swal-text {
  text-align: center;
}

.swal-footer {
  text-align: center;
}

@media (max-width: 850px) {
  .intro h1 {
    margin-bottom: 3%;
  }
  .intro .half {
    height: auto;
  }
}

@media (max-width: 570px) {
  .game .pan {
    min-width: 80vw;
  }
  .game .lasagna {
    min-width: 76vw;
  }
}

@media (max-width: 520px) {
  .intro h1 {
    font-size: 45px;
    font-size: 4.5rem;
  }
  .intro h2 {
    font-size: 25px;
    font-size: 2.5rem;
  }
  .intro .half:last-of-type {
    padding: 20px;
  }
  .intro p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .intro .half {
    min-width: 100%;
  }
  .game p {
    margin: 10px;
  }
}
